<template>
  <div class="list-metric">
    <h1>List metric of EC2</h1>
    <loading-spinner :isLoading="isLoading" />
    <template v-for="metric in metricList">
      <router-link :key="`metric_${metric}`" :to="`/metric/${metric}`">
        <h3>
          {{metric}}
        </h3>
      </router-link>
    </template>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator";
import { getModule } from 'vuex-module-decorators'
import appModule from '../store/app'

import LoadingSpinner from '../components/LoadingSpinner.vue'

@Component({
  components: {
    'loading-spinner': LoadingSpinner
  }
})
export default class ListMetric extends Vue {
  appStore = getModule(appModule, this.$store)

  isLoading = true

  get metricList(): Array<String> {
    return this.appStore.metrics
  }

  async mounted() {
    this.isLoading = true
    await this.appStore.loadMetrics()
    this.isLoading = false
  }
}
</script>
