<template>
  <div>
    <h1>{{metricName}}</h1>
    <loading-spinner :isLoading="isLoading" />
    <line-chart v-if="!isLoading" :chart-data="datacollection" style="position: relative; max-width:700px; margin: auto; left: -65px;"></line-chart>
  </div>
</template>

<script>
import { Vue, Component, Prop } from "vue-property-decorator";
import { getModule } from "vuex-module-decorators";
import appModule from "../store/app";

import LoadingSpinner from "../components/LoadingSpinner.vue";
import LineChart from "../components/LineChart";

@Component({
  components: {
    "loading-spinner": LoadingSpinner,
    "line-chart": LineChart
  }
})
export default class MetricData extends Vue {
  appStore = getModule(appModule, this.$store);

  isLoading = true;

  get datacollection() {
    const dataset = {
      label: 'results',
      backgroundColor: "#f87979",
      data: this.metricDataResults.map(metric => metric.value)
    }
    return {
      labels: this.metricDataResults.map(metric => metric.timestamp),
      datasets: [dataset]
    };
  }

  get metricDataResults() {
    return this.appStore.metricDataResults;
  }

  get metricName() {
    const metricName = this.$route.params["metricName"];
    return metricName
  }

  async mounted() {
    this.isLoading = true
    await this.appStore.loadMetricDataResults(this.metricName);
    this.isLoading = false
  }
}
</script>